<div class="banner">
  <div class="text-box">
    <p>
      The Welfare Society for the Disabled (WESOFOD) is a local NGO committed to improving the quality of lives of persons with disabilities in Kambia District, Sierra Leone
    </p>
    <%= link_to 'READ MORE', about_path, class: 'button read-more-button' %>
  </div>
</div>

<div class="home-container">

  <div class="home-text">
    <h1>The Welfare Society for the Disabled</h1>
    <p>
      The Welfare Society for the Disabled (WESOFOD) is a local non-governmental organisation run by and for people with disabilities. We fight for the <strong>rights of disabled people</strong> and for the children under our care. In Sierra Leone, children are left out of school because of their disability or background. We give these forgotten children a school, a home, and a future. We encourage these children to <strong>focus on their abilities</strong>, not their disabilities.
    </p>
  </div>

  <div class="row">
    <div class="col-xs-offset-1 col-xs-12 col-md-4">
      <%= image_tag "boy-in-chair", class: 'home-image' %>
    </div>
    <div class="col-xs-offset-1 col-xs-12 col-md-4">
      <%= image_tag "mary-walk", class: 'home-image' %>
    </div>
    <div class="col-xs-offset-1 col-xs-12 col-md-4">
      <%= image_tag "football", class: 'home-image' %>
    </div>
  </div>

</div>

<%= render 'shared/footer' %>
